aniso8601==1.1.0
beautifulsoup4==4.4.1
bs4==0.0.1
cffi==1.6.0
cryptography==1.4
enum34==1.1.6
Flask==0.10.1
Flask-Ask==0.7.4
gunicorn==19.6.0
idna==2.1
ipaddress==1.0.16
itsdangerous==0.24
Jinja2==2.8
MarkupSafe==0.23
pyasn1==0.1.9
pycparser==2.14
pyOpenSSL==16.0.0
python-dateutil==2.5.3
PyYAML==3.11
requests==2.8.0
six==1.10.0
Unidecode==0.4.19
uWSGI==2.0.13.1
Werkzeug==0.11.10
